body {
	background-color: #cfcae1;
}

.jersey-10-regular {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* .krub-regular {
	font-family: "Krub", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
} */

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}

df-messenger {
	--df-messenger-button-titlebar-color: #663399;
	--df-messenger-button-titlebar-font-color: white;
}

.container {
	margin-top: 100px;
	margin-left: 60px;
	margin-right: 30%;
	width: 50%;
}

.jamie {
	color: #663399;
}

.jamie-logo {
	width: 200px;
	margin-left: 30%;
}
